In [1]:
# importation des librairies
import numpy as np
import pandas as pd
from sklearn.neighbors import KNeighborsRegressor
np.random.seed(1)

In [2]:
# lecture du fichier et randomisation des données
csv_listing = pd.read_csv('paris_airbnb.csv')
csv_listing = csv_listing.loc[np.random.permutation(len(csv_listing))]
csv_listing

,host_response_rate,host_acceptance_rate,host_listings_count,latitude,longitude,city,zipcode,state,accommodates,room_type,bedrooms,bathrooms,beds,price,cleaning_fee,security_deposit,minimum_nights,maximum_nights,number_of_reviews
4740,NaN,NaN,1.0,48.88285,2.33852,Paris,75018,Île-de-France,4,Entire home/apt,1.0,1.0,2.0,$65.00,$30.00,$200.00,2,1125,6
5606,NaN,NaN,1.0,48.86006,2.34768,Paris,75001,Île-de-France,3,Entire home/apt,2.0,1.5,2.0,$98.00,NaN,NaN,5,1124,1
4824,100%,NaN,3.0,48.88794,2.34532,Paris,75018,Île-de-France,2,Entire home/apt,0.0,1.0,1.0,$65.00,$30.00,"$1,000.00",10,1125,0
4205,60%,NaN,1.0,48.88868,2.34111,Paris,75018,Île-de-France,2,Private room,1.0,1.0,1.0,$45.00,$30.00,$200.00,5,1125,83
3228,90%,NaN,1.0,48.88686,2.33670,Paris,75018,Île-de-France,3,Entire home/apt,1.0,1.0,2.0,$65.00,NaN,$200.00,5,365,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7935,NaN,NaN,1.0,48.84012,2.39003,Paris,75012,Île-de-France,4,Entire home/apt,1.0,1.0,2.0,$72.00,$0.00,$400.00,7,7,0
5192,NaN,NaN,1.0,48.87754,2.35318,Paris,75010,Île-de-France,2,Entire home/apt,0.0,1.0,1.0,$49.00,$50.00,NaN,30,1125,2
3980,NaN,NaN,1.0,48.84617,2.37121,Paris,75012,Île-de-France,2,Entire home/apt,0.0,1.0,1.0,$99.00,$20.00,$100.00,2,1125,2
235,65%,NaN,93.0,48.85522,2.36382,Paris,75004,Île-de-France,6,Entire home/apt,2.0,1.0,4.0,$230.00,$90.00,$900.00,2,25,98
5157,NaN,NaN,1.0,48.87768,2.32836,Paris,75009,Île-de-France,2,Entire home/apt,1.0,1.0,1.0,$100.00,$400.00,NaN,3,20,0

In [3]:
# nettoyage des données pour retirer les caractères non numérique
clean_virgule = csv_listing['price'].str.replace(',','')
clean_dollars = clean_virgule.str.replace('$','')
csv_listing['price'] = clean_dollars.astype('float')
csv_listing

,host_response_rate,host_acceptance_rate,host_listings_count,latitude,longitude,city,zipcode,state,accommodates,room_type,bedrooms,bathrooms,beds,price,cleaning_fee,security_deposit,minimum_nights,maximum_nights,number_of_reviews
4740,NaN,NaN,1.0,48.88285,2.33852,Paris,75018,Île-de-France,4,Entire home/apt,1.0,1.0,2.0,65.0,$30.00,$200.00,2,1125,6
5606,NaN,NaN,1.0,48.86006,2.34768,Paris,75001,Île-de-France,3,Entire home/apt,2.0,1.5,2.0,98.0,NaN,NaN,5,1124,1
4824,100%,NaN,3.0,48.88794,2.34532,Paris,75018,Île-de-France,2,Entire home/apt,0.0,1.0,1.0,65.0,$30.00,"$1,000.00",10,1125,0
4205,60%,NaN,1.0,48.88868,2.34111,Paris,75018,Île-de-France,2,Private room,1.0,1.0,1.0,45.0,$30.00,$200.00,5,1125,83
3228,90%,NaN,1.0,48.88686,2.33670,Paris,75018,Île-de-France,3,Entire home/apt,1.0,1.0,2.0,65.0,NaN,$200.00,5,365,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7935,NaN,NaN,1.0,48.84012,2.39003,Paris,75012,Île-de-France,4,Entire home/apt,1.0,1.0,2.0,72.0,$0.00,$400.00,7,7,0
5192,NaN,NaN,1.0,48.87754,2.35318,Paris,75010,Île-de-France,2,Entire home/apt,0.0,1.0,1.0,49.0,$50.00,NaN,30,1125,2
3980,NaN,NaN,1.0,48.84617,2.37121,Paris,75012,Île-de-France,2,Entire home/apt,0.0,1.0,1.0,99.0,$20.00,$100.00,2,1125,2
235,65%,NaN,93.0,48.85522,2.36382,Paris,75004,Île-de-France,6,Entire home/apt,2.0,1.0,4.0,230.0,$90.00,$900.00,2,25,98
5157,NaN,NaN,1.0,48.87768,2.32836,Paris,75009,Île-de-France,2,Entire home/apt,1.0,1.0,1.0,100.0,$400.00,NaN,3,20,0

In [4]:
# visualisation des infos du fichier CSV
csv_listing.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8000 entries, 4740 to 5157
Data columns (total 19 columns):
host_response_rate      5000 non-null object
host_acceptance_rate    0 non-null float64
host_listings_count     7999 non-null float64
latitude                8000 non-null float64
longitude               8000 non-null float64
city                    7997 non-null object
zipcode                 7930 non-null object
state                   7977 non-null object
accommodates            8000 non-null int64
room_type               8000 non-null object
bedrooms                7976 non-null float64
bathrooms               7942 non-null float64
beds                    7986 non-null float64
price                   8000 non-null float64
cleaning_fee            6250 non-null object
security_deposit        6320 non-null object
minimum_nights          8000 non-null int64
maximum_nights          8000 non-null int64
number_of_reviews       8000 non-null int64
dtypes: float64(8), int64(4), object(7)
memory usage: 1.2+ MB

In [5]:
# nettoyage des colonnes qui ne serve pas au calcule du dataSet
drop_columns = ['cleaning_fee','security_deposit','city','zipcode','state','room_type','latitude','longitude','host_response_rate','host_acceptance_rate','host_listings_count']
csv_listing = csv_listing.drop(drop_columns, axis=1)

In [6]:
# suppression des données null dans les diverses colonnes
csv_listing = csv_listing.dropna(axis=0)
print(csv_listing.isnull().sum())

accommodates         0
bedrooms             0
bathrooms            0
beds                 0
price                0
minimum_nights       0
maximum_nights       0
number_of_reviews    0
dtype: int64

In [7]:
# normalisation des données pour facilité les calcules
normalized_listing = (csv_listing - csv_listing.mean()) / csv_listing.std()
print(normalized_listing)

      accommodates  bedrooms  bathrooms     beds     price  minimum_nights  \
4740      0.503868 -0.296884  -0.293537  0.20531 -0.439998       -0.184601
5606     -0.131849  0.892605   0.843973  0.20531 -0.145570       -0.101183
4824     -0.767566 -1.486372  -0.293537 -0.64526 -0.439998        0.037847
4205     -0.767566 -0.296884  -0.293537 -0.64526 -0.618440       -0.101183
3228     -0.131849 -0.296884  -0.293537  0.20531 -0.439998       -0.101183
...            ...       ...        ...      ...       ...             ...
7935      0.503868 -0.296884  -0.293537  0.20531 -0.377544       -0.045571
5192     -0.767566 -1.486372  -0.293537 -0.64526 -0.582752        0.593969
3980     -0.767566 -1.486372  -0.293537 -0.64526 -0.136648       -0.184601
235       1.775303  0.892605  -0.293537  1.90645  1.032146       -0.184601
5157     -0.767566 -0.296884  -0.293537 -0.64526 -0.127725       -0.156795

      maximum_nights  number_of_reviews
4740        1.062858          -0.564545
5606        1.061018          -0.636924
4824        1.062858          -0.651400
4205        1.062858           0.550105
3228       -0.335685          -0.579021
...              ...                ...
7935       -0.994472          -0.651400
5192        1.062858          -0.622448
3980        1.062858          -0.622448
235        -0.961349           0.767245
5157       -0.970550          -0.651400

[7917 rows x 8 columns]

In [8]:
# creation de la variable KNN
knn = KNeighborsRegressor(n_neighbors=5,algorithm ='brute')

In [9]:
# division du dataSet pour entrainer le model
train_df = normalized_listing.iloc[0:6000]
test_df = normalized_listing.iloc[6000:]
# variable pour définir les colonnes qui vont être comparer
train_columns = ['accommodates','bedrooms']
# utilisation de la fonction fit
knn.fit(train_df[train_columns], train_df['price'])
# utilisation de la fonction predict
prediction = knn.predict(test_df[train_columns])
prediction

array([-0.37754382, -0.31330481, -0.31330481, ..., -0.37754382,
        0.30410347, -0.31330481])